<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|PT+Sans"
      rel="stylesheet">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Web Development and Programming | Federico Rodriguez" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "highlighting" %>
    <%= javascript_include_tag "site" %>
  </head>

  <body>
    <div class="container container__main">
      <%= partial "header" %>
      <div class="container container__body">
        <div class="container__article">
          <article itemscope itemtype="http://schema.org/BlogPosting">
            <a href="/" class="article__back-to-index">Back to index</a>
            <time class="article__date" itemprop="datePublished"><%= current_article.date.strftime('%Y %b %e') %></time>
            <h2 itemprop="name headline"><%= current_article.title %></h2>
            <div itemprop="articleBody">
              <%= current_article.body %>
            </div>
          </article>
        </div>
      <div>
    </div>
  </body>
</html>
