<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|PT+Sans" 
      rel="stylesheet">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Web Development and Programming | Federico Rodriguez" %></title>
    <% if current_page.data.meta_desc %>
      <meta name="description" content="A blog by Federico Rodriguez about Programming and Web Development">
    <% end %>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "highlighting" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <div class="container container__main">
      <%= partial "header" %>
      <div class="container container__body"
        itemscope itemtype="http://schema.org/Blog">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
