<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Web Development and Programming | Federico Rodriguez" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <div itemscope itemtype="http://schema.org/Blog">
      <%= yield %>
    </div>

    <footer class="footer">
      <div class="footer__image-container">
        <%= image_tag "Fede.jpg", class: "footer__image" %>
      </div>

      <div class="footer__body">
      <p>
        I am Federico Andrés Rodríguez. I write about programming.
      </p>
      <p>
        You can contact me at:
        <a class="mail-link" href="mailto: elfedyrodriguez@gmail.com">
          elfedyrodriguez@gmail.com
        </a>
      </p>
    </footer>
  </body>
</html>
